{% extends "layout.html" %}

{% block body%}
<style>
	.private-chat{
		background-color: #FFF;
		position: absolute;
		right: 3px;
		bottom: 10px;
		width:400px;
		max-width:95%;
		max-height:500px;
		border-radius:0 0 10px 10px;
		z-index:1001;
		}
	#priv-msgContent{
		max-height:380px;
		margin:auto;
		margin-left:5px;
		margin-right:5px;
		padding:0;
		overflow:auto;
		border-bottom: solid 1px #D1D6DC;
		border-radius: 0 0 10px 10px;
		background-color:#FFFFFF;
		}
	#priv-message{
		width:100%;
		height:50px;
		}
</style>
<div class="row shadow border bg-light mx-auto chat-box" >
	<div class="col-md-3 bg-light p-0">
		<a class="title" data-toggle="collapse" href="#channelPanel" role="button" aria-expanded="false" aria-controls="channelPanel">
			<h4 class="text-center title">Channels</h4>
		</a>
		<div class="border-top border-bottom border-right leftPane-chanel">
			<div class="collapse show list-group" id="channelPanel" >
			{% for room in data.mychannels %}
			  <a id="{{room}}" data-name="{{room}}" href="javascript:;" class="list-group-item list-group-item-action pt-1 pb-1" >{{room}}</a>
			{% endfor %}
			</div>
		</div>
	</div>
	<div class="col-md-9 bg-light">
		<h4 id="chbTitle" class="text-center title">Chat box</h4>
		<div class="row">
			<div class="col-md-12">
				<div id="msgContent" class="msgContent">
				</div>
			</div>
			<div class="col-md-12">
				<div class="row send-form">
					<div class="col-md-10 col-sm-12 pr-0">
						<textarea class="form-control ml-1" name="message" id="message"></textarea>
					</div>
					<div class="col-md-2 col-sm-12 pt-3 pr-0">
						<button role="button" id="send" class="btn btn-primary btn-block">Send</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--
<div class="border-left border-bottom private-chat">
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
	<button type="button" class="close pull-right" aria-label="Close">
	  <span aria-hidden="true">&times;</span>
	</button>


  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
	  <div class="row">
		  <div class="col-12">
			  <div id="priv-msgContent" class="priv-msgContent">
				  <span class="msg-to"><strong>test:</strong> ceci est un message test</span>
				  <div class="clearfix"></div>
				  <span class="msg-from pull-right"><strong>test:</strong> celui-la aussi</span>
				  <div class="clearfix"></div>
				  <span class="msg-to"><strong>test:</strong> ceci est un message test</span>
				  <div class="clearfix"></div>
				  <span class="msg-from pull-right"><strong>test:</strong> celui-la aussi</span>
				  <div class="clearfix"></div>
				  <span class="msg-to"><strong>test:</strong> ceci est un message test</span>
				  <div class="clearfix"></div>
				  <span class="msg-from pull-right"><strong>test:</strong> celui-la aussi</span>
				  <div class="clearfix"></div>
				  <span class="msg-to"><strong>test:</strong> ceci est un message test</span>
				  <div class="clearfix"></div>
				  <span class="msg-from pull-right"><strong>test:</strong> celui-la aussi</span>
				  <div class="clearfix"></div>
			  </div>
		  </div>
		  <div class="col-8 pr-0 pt-1 pb-1">
			  <textarea class="form-control ml-1" name="priv-message" id="priv-message"></textarea>
		  </div>
		  <div class="col-3 m-1 p-1">
			  <button role="button" id="priv-send" class="btn btn-primary btn-block">Send</button>
		  </div>
	  </div>
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
  </div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
  </div>
</div>
</div>
-->
{% endblock%}
