{% extends "layout.html" %}
{% block body%}
<div class="row shadow border bg-light mx-auto chat-box" >
	<div class="col-md-3 bg-light p-0">
		<a class="title" data-toggle="collapse" href="#channelPanel" role="button" aria-expanded="false" aria-controls="channelPanel">
			<h4 class="text-center title" title="click to toggle channels visibility">Channels</h4>
		</a>
		<div class="border-top border-bottom border-right leftPane-chanel">
			<div class="collapse show list-group" id="channelPanel" >
			{% for room in data.mychannels %}
			  <a id="{{room}}" data-name="{{room}}" data-type="channel" href="javascript:void(0);" class="list-group-item list-group-item-action pt-1 pb-1" >{{room}}</a>
			{% endfor %}
			</div>
				<a class="title" data-toggle="collapse" href="#userPanel" role="button" aria-expanded="false" aria-controls="userPanel">
					<h5 class="text-center title" title="click to toggle users visibility">Users</h5>
				</a>
			<div class="collapse show list-group" id="userPanel" >
			{% for user in data.usernames %}
				{% if user != data.username %}
				  <a id="{{user}}" data-name="{{user}}" href="javascript:void(0);" class="list-group-item list-group-item-action pt-1 pb-1" >{{user}}</a>
				{% endif %}
			{% endfor %}
			</div>
		</div>
	</div>
	<div class="col-md-9 bg-light">
		<h4 id="chbTitle" class="text-center title">Chat box</h4>
		<div class="row">
			<div class="col-md-12">
				<div id="msgContent" class="msgContent">
				</div>
			</div>
			<div class="col-md-12">
				<div class="row send-form">
					<div class="col-md-10 col-sm-12 pr-0">
						<textarea class="form-control ml-1" name="message" id="message"></textarea>
					</div>
					<div class="col-md-2 col-sm-12 pt-3 pr-0">
						<button role="button" id="send" class="btn btn-primary btn-block">Send</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock%}
